<div class="small-6 columns">
  <h1>Create new contact</h1>
  <form action='/contacts/new' method='POST'>
    <input type='Text' name='first_name' placeholder='First Name' >
    <input type='Text' name='last_name' placeholder='Last Name' >
    <input type='Text' name='phone_number' placeholder='Phone Number' >
    <button type='submit'>Submit</button>
  </form>
</div>
